<title>Politiquestion</title>

  <h1>Politiquestion... <br>
      Your alignment score is: {{Score}}<br><br></h1>

  <fieldset>
    <legend>Your Alignment Score:</legend>
    {{Vote1}}:<br>
    You:<br>
    {{UserScore1}}<br><br>
      
    Your Rep:<br> 
    {{RepScore1}}<br><br>
    
    <legend>Your Alignment Score:</legend>
    You:<br>
    {{Vote2}}:<br>
    {{UserScore2}}<br><br>
      
    Your Rep:<br> 
    {{Vote2}}: <br>
    {{RepScore2}}<br><br>
      
    <legend>Your Alignment Score:</legend>
    You:<br>
    {{Vote3}}:<br>
    {{UserScore3}}<br><br>
      
    Your Rep:<br> 
    {{Vote3}}: <br>
    {{RepScore3}}<br><br>
   
    Now Go Vote in the Next Election!! <br>
  </fieldset>