<title>Politiquestion</title>

  <h1>Politiquestion... <br>
      Your alignment score is: {{Score}}<br><br></h1>

  <fieldset>
    <legend>Your Alignment Score:</legend>
    {{Vote1}}:<br><br>
    
    You:
    {{UserScore1}}<br>
    Your Rep: 
    {{RepScore1}}<br><br>
    
    {{Vote2}}:<br><br>

    You:
    {{UserScore2}}<br>  
    Your Rep:
    {{RepScore2}}<br><br>
    
    {{Vote3}}:<br><br>

    You:
    {{UserScore3}}<br> 
    Your Rep: 
    {{RepScore3}}<br><br>
   
    Now Go Vote in the Next Election!! <br>
  </fieldset>