<title>Politiquestion</title>

  <h1>Politiquestion... <br>
      Your alignment score is: {{Score}}<br><br></h1>

  <fieldset>
    <legend>Your Alignment Score:</legend>
    You:<br>
    Gun Control:<br>
    {{UserScore1}}<br><br>
      
    Your Rep:<br> 
    Gun Control: <br>
    {{RepScore1}}<br><br>
    
    <legend>Your Alignment Score:</legend>
    You:<br>
    Gun Control:<br>
    {{UserScore2}}<br><br>
      
    Your Rep:<br> 
    Gun Control: <br>
    {{RepScore2}}<br><br>
      
    <legend>Your Alignment Score:</legend>
    You:<br>
    Gun Control:<br>
    {{UserScore3}}<br><br>
      
    Your Rep:<br> 
    Gun Control: <br>
    {{RepScore3}}<br><br>
   
    Now Go Vote in the Next Election!! <br>
  </fieldset>