<html>
    <head>
        <title>
            A Small Hello
        </title>
    </head>
<body>
    <h1>Hi</h1>
</body>
    
<form action = "http://localhost:5000/login" method = "post">
  <fieldset>
    <legend>Personal information:</legend>
    First name:<br>
    <input type="text" name="firstname" value=><br>
    Last name:<br>
    <input type="text" name="lastname" value=><br>
    Age:<br>
    <input type="text" name="Age" value=><br>  
    <br><br>
    <form>
      <input type="radio" name="gender" value="male" checked> Male<br>
      <input type="radio" name="gender" value="female"> Female<br>
      <input type="radio" name="gender" value="other"> Other
    </form> 
    <br><br>
    Favorite SoftDes Ninja:<br>
    <input type="text" name="Ninja" value=><br><br>
    <input type="submit" value="Submit">
  </fieldset>
    
</form>

