<title>Politiquestion</title>

  <h1>Politiquestion... <br>
      Your alignment score is: <br>{{Score1}}<br>{{Score2}}<br><br> </h1>

  <fieldset>
    <legend>Your Alignment Score:</legend>
    {{Vote1}}:<br><br>

    You:
    {{UserScore1}}<br>
    {{Rep1Name}}:
    {{Rep1Score1}}<br>
    {{Rep2Name}}:
    {{Rep2Score1}}<br><br>

    {{Vote2}}:<br><br>

    You:
    {{UserScore2}}<br>
    {{Rep1Name}}:
    {{Rep1Score2}}<br>
    {{Rep2Name}}:
    {{Rep2Score2}}<br><br>

    {{Vote3}}:<br><br>

    You:
    {{UserScore3}}<br>
    {{Rep1Name}}:
    {{Rep1Score3}}<br>
    {{Rep2Name}}:
    {{Rep2Score3}}<br><br>

    {{Vote4}}:<br><br>

    You:
    {{UserScore4}}<br>
    {{Rep1Name}}:
    {{Rep1Score4}}<br>
    {{Rep2Name}}:
    {{Rep2Score4}}<br><br>

    {{Vote5}}:<br><br>

    You:
    {{UserScore5}}<br>
    {{Rep1Name}}:
    {{Rep1Score5}}<br>
    {{Rep2Name}}:
    {{Rep2Score5}}<br><br>

    {{Vote6}}:<br><br>

    You:
    {{UserScore6}}<br>
    {{Rep1Name}}:
    {{Rep1Score6}}<br>
    {{Rep2Name}}:
    {{Rep2Score6}}<br><br>

    {{Vote7}}:<br><br>

    You:
    {{UserScore7}}<br>
    {{Rep1Name}}:
    {{Rep1Score7}}<br>
    {{Rep2Name}}:
    {{Rep2Score7}}<br><br>

    {{Vote8}}:<br><br>

    You:
    {{UserScore8}}<br>
    {{Rep1Name}}:
    {{Rep1Score8}}<br>
    {{Rep2Name}}:
    {{Rep2Score8}}<br><br>

    Now Go Vote in the Next Election!! <br>

    Learn more or contact your representatives: <br>
    <a href={{Rep1Page}}>{{Rep1Name}}</a>
    <br>
    <a href={{Rep2Page}}>{{Rep2Name}}</a>
    <br>
  </fieldset>
