<title>Politiquestion</title>

  <h1>Politiquestion... <br>
      Your alignment score is: <br>{{Score1}}<br>{{Score2}}<br><br> </h1>

  <fieldset>
    <legend>Your Alignment Score:</legend>
    {{Vote1}}:<br><br>

    You:
    {{UserScore1}}<br>
    Your Rep1:
    {{Rep1Score1}}<br>
    Your Rep2:
    {{Rep2Score1}}<br><br>

    {{Vote2}}:<br><br>

    You:
    {{UserScore2}}<br>
    Your Rep1:
    {{Rep1Score2}}<br>
    Your Rep2:
    {{Rep2Score2}}<br><br>

    {{Vote3}}:<br><br>

    You:
    {{UserScore3}}<br>
    Your Rep1:
    {{Rep1Score3}}<br>
    Your Rep2:
    {{Rep2Score3}}<br><br>

    {{Vote4}}:<br><br>

    You:
    {{UserScore4}}<br>
    Your Rep1:
    {{Rep1Score4}}<br>
    Your Rep2:
    {{Rep2Score4}}<br><br>

    Now Go Vote in the Next Election!! <br>
  </fieldset>
