<title>Politiquestion</title>

  <h1>Politiquestion!<br></h1>

<form action = "/results" method = "post">
  <fieldset>
    <legend>Answer Some Questions:</legend>
    Question 1:<br>
    {{Vote1}} <br> <br>
   <form>
      <input type="radio" name="Q1" value="Yes"> Yes<br>
      <input type="radio" name="Q1" value="No" checked> No<br>
    <br><br>

    Question 2:<br>
    {{Vote2}} <br> <br>
      <input type="radio" name="Q2" value="Yes"> Yes<br>
      <input type="radio" name="Q2" value="No" checked> No<br>
      <br><br>
      
    Question 3:<br>
    {{Vote3}} <br> <br>
      <input type="radio" name="Q3" value="Yes"> Yes<br>
      <input type="radio" name="Q3" value="No" checked> No<br>
    </form> <br><br>
      
    <input type="submit" value="Submit">
  </fieldset>