<title>Politiquestion</title>

  <h1>Politiquestion!<br></h1>

<form action = "/results" method = "post">
  <fieldset>
    <legend>Answer Some Questions:</legend>
    Question 1:<br>
    {{Vote1}} <br> <br>
    <a href={{link1}}>See more about this bill.</a>
    <br><br>
   <form>
      <input type="radio" name="Q1" value="Yes"> Yes<br>
      <input type="radio" name="Q1" value="No" checked> No
    <br><br>

    Question 2:<br>
    <a href={{link2}}>See more about this bill.</a>
    <br><br>
    {{Vote2}} <br> <br>
      <input type="radio" name="Q2" value="Yes"> Yes<br>
      <input type="radio" name="Q2" value="No" checked> No<br>
      <br><br>

    Question 3:<br>
    <a href={{link3}}>See more about this bill.</a>
    <br><br>
    {{Vote3}} <br> <br>
      <input type="radio" name="Q3" value="Yes"> Yes<br>
      <input type="radio" name="Q3" value="No" checked> No<br>
      <br><br>

    Question 4:<br>
    <a href={{link4}}>See more about this bill.</a>
    <br><br>
    {{Vote4}} <br> <br>
      <input type="radio" name="Q4" value="Yes"> Yes<br>
      <input type="radio" name="Q4" value="No" checked> No<br>
      <br><br>

    Question 5:<br>
    <a href={{link5}}>See more about this bill.</a>
    <br><br>
    {{Vote5}} <br> <br>
      <input type="radio" name="Q5" value="Yes"> Yes<br>
      <input type="radio" name="Q5" value="No" checked> No<br>
      <br><br>

    Question 6:<br>
    <a href={{link6}}>See more about this bill.</a>
    <br><br>
    {{Vote6}} <br> <br>
      <input type="radio" name="Q6" value="Yes"> Yes<br>
      <input type="radio" name="Q6" value="No" checked> No<br><br><br>

    Question 7:<br>
    <a href={{link7}}>See more about this bill.</a>
    <br><br>
    {{Vote7}} <br> <br>
      <input type="radio" name="Q7" value="Yes"> Yes<br>
      <input type="radio" name="Q7" value="No" checked> No<br><br><br>

    Question 8:<br>
    <a href={{link8}}>See more about this bill.</a>
    <br><br>
    {{Vote8}} <br> <br>
      <input type="radio" name="Q8" value="Yes"> Yes<br>
      <input type="radio" name="Q8" value="No" checked> No<br>
    </form> <br><br>

    <input type="submit" value="Submit">
  </fieldset>
