<title>Politiquestion</title>

  <h1>Politiquestion... <br>
      Your ZIP code is: {{ZIP}}!<br><br></h1>

<form action = "http://localhost:5000/results" method = "post">
  <fieldset>
    <legend>Answer Some Questions:</legend>
    Question 1:<br>
    Is gun control apropriate in all situations?
   <form>
      <input type="radio" name="Q1" value="Yes"> Yes<br>
      <input type="radio" name="Q1" value="No"> No<br>
      <input type="radio" name="Q1" value="Maybe"> Maybe
    </form> <br><br>
    <input type="submit" value="Submit">
  </fieldset>