<title>Politiquestion</title>

  <h1>Politiquestion!<br></h1>

<form action = "http://localhost:5000/results" method = "post">
  <fieldset>
    <legend>Answer Some Questions:</legend>
    Question 1:<br>
    {{Vote1}} <br> <br>
   <form>
      <input type="radio" name="Q1" value="Yes"> Yes<br>
      <input type="radio" name="Q1" value="No"> No<br>
      <input type="radio" name="Q1" value="Maybe" checked> Maybe
    <br><br>

    Question 2:<br>
    {{Vote2}} <br> <br>
      <input type="radio" name="Q2" value="Yes"> Yes<br>
      <input type="radio" name="Q2" value="No"> No<br>
      <input type="radio" name="happy" value="Maybe" checked> Maybe
      <br><br>
      
    Question 3:<br>
    {{Vote3}} <br> <br>
      <input type="radio" name="sad" value="Yes"> Yes<br>
      <input type="radio" name="sad" value="No"> No<br>
      <input type="radio" name="sad" value="Maybe" checked> Maybe
    </form> <br><br>
      
    <input type="submit" value="Submit">
  </fieldset>